body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.board {
  padding: 60px 140px;
  border: 1px solid #222;
}

.row {
  display: flex;
  height: 50px;
  width: 100%;
  padding: 2px;
}

.column {
  display: flex;
  background-color: rgb(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  transition: 0.1s;
  margin: 2px;
  position: relative;
}

.column::before {
  content: attr(data-coord);
  display: block;
  opacity: 0.25;
  color: black;
  font-size: 11px;
  letter-spacing: 1px;
}

.column.available {
  background-color: #cafcca;
}

.column.available:hover {
  background-color: #cafccacc;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 12px;
  box-shadow: 1px 1px 3px #aaa;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
}

.item[data-selected="true"] {
  border: 4px solid rgb(255, 231, 113);
  z-index: 2;
}

.control {
  display: flex;
  flex-direction: column;
}
