body {
  background-color: #b68e8e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.board {
}

.row {
  display: flex;
  height: 50px;
  width: 100%;
  padding: 2px;
}

.column {
  display: flex;
  background-color: rgb(255, 255, 255, .5);
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  transition: 0.1s;
  margin: 2px;
  position: relative;
}

.column.available {
  background-color: #cafcca;
}

.column.available:hover {
  background-color: #cafccacc;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 12px;
  box-shadow: 1px 1px 3px #aaa;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}


.control {
  display: flex;
  flex-direction: column;
}