body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.social {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.board {
  padding: 60px 140px;
  border: 1px solid #222;
}

.row {
  display: flex;
  height: 50px;
  width: 100%;
  padding: 2px;
}

.column {
  display: flex;
  background-color: rgb(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  transition: 0.1s;
  margin: 2px;
  position: relative;
}

.row:nth-child(odd) .column:nth-child(even) {
  background: rgb(255, 255, 255, 0.35);
}

.row:nth-child(even) .column:nth-child(odd) {
  background: rgb(255, 255, 255, 0.35);
}

.column::before {
  content: attr(data-coord);
  display: block;
  opacity: 0.25;
  color: black;
  font-size: 11px;
  letter-spacing: 1px;
  pointer-events: none;
}

.column[data-available="true"] {
  background-color: #cafcca !important;
}

.column[data-available="true"]:hover {
  background-color: #cafccacc !important;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 12px;
  box-shadow: 1px 1px 3px #aaa;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
}

.item.black {
  background-color: #000;
}

.item[data-selected="true"] {
  border: 4px solid #ffdf20;
  z-index: 2;
}

.item[data-king="true"]::before {
  content: "";
  position: relative;
  width: 10px;
  height: 10px;
  background: #ffdf20;
  border-radius: 50%;
}

.control {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1025px) {
  #app {
    transform: scale(0.7);
  }

  .board {
    padding: 0;
    border: 0;
  }
}
